[tool.black]
line-length = 100
target-version = ["py310"]

[tool.ruff]
line-length = 100
target-version = "py310"
select = ["E","F","I","UP","B","SIM"]
ignore = ["E501"]

[build-system]
requires = ["setuptools>=68","wheel"]
build-backend = "setuptools.build_meta"
